.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1100px;
  margin: 0 auto;
  font-size: 16px;
}
.cart-btn {
  border: 1px solid #ff6f61;
  border-radius: 10rem;
  padding: 10px;
  margin-top: -10.5rem;
  /* float: left; */
  align-items: center;
  margin-left: 6rem;
}
.cartt-btn {
  border: 1px solid #ff6f61;
  border-radius: 10rem;
  padding: 10px;
  margin-top: -10.5rem;
  /* float: left; */
  align-items: center;
  margin-left: 6rem;
}
.caart-btn {
  border: 1px solid #ff6f61;
  border-radius: 10rem;
  padding: 10px;
  margin-top: -10.5rem;
  /* float: left; */
  align-items: center;
  margin-left: 6rem;
}
.caartte-section {
  border: 1px solid #ff6f61;
  border-radius: 10rem;
  padding: 10px;
  margin-top: -10.5rem;
  /* float: left; */
  align-items: center;
  margin-left: 6rem;
}
.coc-btn {
  border: 1px solid #ff6f61;
  border-radius: 10rem;
  padding: 10px;
  margin-top: -10.5rem;
  /* float: left; */
  align-items: center;
  margin-left: 6rem;
}
